<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592050504078-re986saufdbupkj0cm8p6ose8b8o7353.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592050504078-re986saufdbupkj0cm8p6ose8b8o7353</string>
	<key>API_KEY</key>
	<string>AIzaSyDmrPw-vjamp_DUWN4brhkpWGudBPgqq-E</string>
	<key>GCM_SENDER_ID</key>
	<string>592050504078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lukaszhak.mojaLodowka</string>
	<key>PROJECT_ID</key>
	<string>moja-lodowka-b1c39</string>
	<key>STORAGE_BUCKET</key>
	<string>moja-lodowka-b1c39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592050504078:ios:93441d063eb364935a64df</string>
</dict>
</plist>